Package: dev.mineek.appstoretroller
Name: AppStoreTroller
Version: 0.1.1
Architecture: iphoneos-arm
Description: Bypass iOS version check for apps in the AppStore
Maintainer: waruhachi
Author: Mineek
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
